@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Space+Mono:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto+Mono:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

/* <style>
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Space+Mono:ital,wght@0,700;1,400&display=swap');
</style>
font-family: 'Bruno Ace SC', cursive;
font-family: 'Space Mono', monospace;
font-family: 'Bruno Ace SC', cursive;
font-family: 'Roboto Mono', monospace;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #2f6b83;
  font-family: 'Yeseva One', cursive;
  
}
.container{
  max-width: 2100px;
  margin: 0 auto;
}
.swiper-button-prev::after{
  font-size: 25px;
}
.swiper-button-next::after{
  font-size: 25px;
}
.swiper-button-next{
  color: #08a6fb;
}
.swiper-button-prev{
  color: #08a6fb;
}
.swiper-pagination-bullet{
  background-color: #f0f0f0;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #08a6fb;
}
.menu{
  position:absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.navbar{
  display:flex;
}
.menu-1{
  margin-right: 180px;
}

.menu-2{
  margin-right: 180px;
}
.logo-1{
  width: 250px;
}
.logo-2{
  width: 180px;
}
.socials{
  display: flex;
}
.social{
  margin: 0 10px;
  height: 40px;
  width: 42px;
  border: 1px solid #08a6fb;
  border-radius: 50%;
}
.social:hover{
  background-color: #08a6fb;
}
.social img{
  margin: 8px 0 0 10px;
}
.menu .navbar ul li{
  position:relative;
  float: right;
}
.menu .navbar ul li a{
  font-size: 18px;
  padding: 20px;
  color: #ffffff;
  display: block;
  
}
.menu .navbar ul li a:hover{
  color: #08a6fb;
}
#menu{
  display: none;
}
.menu-icono{
  width: 25px;
}
.menu label{
  cursor: pointer;
  display: none;
}

.header-content{
  margin-top: 200px;
  padding-bottom: 50px;
}
.slider{
  display:flex ;
  align-items: center;
}
.slider-txt{
  margin-left: 85px;
  width: 50%;
}
.slider-txt h1{
  font-size: 50px;
  color: #050505;
  text-transform: uppercase;
  font-weight: 800;
}
.slider-txt h2{
  font-size: 30px;
  color: #080808;
  text-transform: uppercase;
  font-weight: 800;
}
.slider-txt p{
  font-size: 20px;
  color: rgb(251, 251, 251);
  font-family: 'Yeseva One ',cursive;
}
.botones{
  margin-top: 50px;
}
.btn-1{
  display: inline-block;
  padding: 15px 35px;
  border: 2px solid #0f9ce2;
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 20px;
  border-radius: 50px;
}
.btn-1:hover{
  background-color: #08c6fb;
}
.slider-img{
  width: 10%;
}
.slider-img img{
  margin-right: 100px;
  width: 600px;
}
.slider-img-2 img{
  margin-right: 100px;
  width: 700px ;
  
}
.products{
  background-color: #091b28;
  
}
.tabs{
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0px;
}
.tabs label{
  width: 50%;
  order: 1;
  display: block;
  padding: 20px 0px;
  text-align: center;
  cursor: pointer;
  color: #e1d7d7;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding-top: 25px;
}
.tabs input[type="radio"]{
  display:none;
}
.tabs input[type="radio"]:checked + label{
  border-bottom: 2px solid #08a6fb;
  color: #ffff;

}
.tabs input[type="radio"]:checked + label + .tab{
  display: block;
}
.product{
  display: flex;
  align-items: center;
  padding: 25px;
  margin: 0 10px;
}
.product-img{
  width: 50%;
  text-align: left;
}
.product-img h4 {
  display: inline-block;
  padding: 20px 20px;
  line-height: 15px;
  color: #ffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800px;
  border: 2px solid #555555;
  border-radius: 10px;
  margin-bottom: 50px;
}
.product-img img{
  width: 350px;
  height: 250px;
}
.product-txt{ 
  width: 50%;
  margin-left: 20px;
  text-align: left;
}
.product-txt h4{
  color: #ffff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 1000;
  margin-bottom: 20px;
}
.product-txt p{
  color: #a7a7a7;
  font-size: 16px;
  margin-bottom: 50px;
}
.product-txt span {
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
}
.info {
  padding: 100px 0px;
  display: flex;
  align-items: center;
  
}
.info-img{
  width: 50%;

}
.info-img img{
  width: 600px;
  height: 250px;
}
.info-txt{
  width: 30%;

}
.info-txt h2{
  font-size: 40px;
  color: #0c0b0b;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.info-txt p{
  font-family: 'Yeseva One';
  color: #ffffff;
  margin-bottom: 50px;
}

.btn-2{
  display: inline-block;
  padding: 15px 35px;
  background-color: #08a6fb;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 50px;

}
.btn-2:hover{
  background-color: #02d9ff;
}
#columnas{
  column-count:4;
  column-gap:20px;
  column-rule:4px double rgb(246, 246, 246);
  list-style: none;
}
.group-header {
  Background-color: rgb(255, 215, 0);
  Color: rgb(0, 45, 98);
}

Table {
  Margin: 100;
  Border-collapse: collapse;
}

Th, td {
  Padding: 10px;
  Text-align:;
}

Th {
  Background-color: #0615e1;
  Color: #FFF;
}

Td {
  Background-color: #F1F1F1;
}



.team-name {
  Font-weight: bold;
}

.group-header {
  Background-color: rgb(11, 11, 11);
  Color: rgb(255, 255, 255);
}
H1 {
  Color: #007bff;
  Text-align: center;
}

.champions-logo {
  Display: block;
  Margin: 20px auto;
  Width: 200px;
}
.social-links {
  Text-align: center;
  Margin-bottom: 20px;
}

.social-links a {
  Display: inline-block;
  Margin: 0 10px;
  Color: #007bff;
  Text-decoration: none;
}
*{
  box-sizing:border-box ;
  margin: 0;
  padding: 0;
}
h1{
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
}
.linea{
  background: #550b51;
  height: 5px;
  width: 120%;
  display: block;
}

.galeria{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 120%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
}

.galeria > a{
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.galeria img{
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s;
}

.galeria a:hover img{
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3);
}

.light-box{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  transition: transform .3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);

}

.light-box img{
  width: 75vw;
  max-height: 70vh;
}
.light-box:target{
  transform: scale(1);
}

.close{
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background: #851919;
  color: #ffffff;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
.next{
  display: block;
  background: #851919;
  color: #ffffff;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
}
.nome{
  color: rgb(255, 255, 255);
  font-size:25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  margin-top: 100px;
  margin-left: 550px;
}

.sumary{
  color: #000;
  margin-bottom: 10px ;
}