*{
    
    padding: 0; 
    margin: 0; 
    text-decoration: none; 
    list-style: none; 
    box-sizing: border-box; 
}

nav{
    background: #f1eff1;
    height: 90px;
    width: 100%;
}

.enlace{ 
    position: absolute;
    padding: 30px 50px;
}
.logo{
    width: 160px;
    height: 100px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block; 
    line-height: 90px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(36, 32, 32);
    font-family: 'Bruno Ace SC', cursive;
    padding: 7px 13px;
    border-radius: 3px;
}
li a.active, li a:hover{
    background: #15234b;
    transition: .5s;
}

.checkbt{
    font-size: 30px;
    color: rgb(7, 7, 7);
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none; 
}

section{
    background: url(Virtual.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 90px);
}
.titulo{
    color: white;
    font-size: 60px;
    text-align: right;
    font-family: 'Bruno Ace SC', cursive;
    width: 200px;
    margin-top: 25px;
    margin-left: 15px;
    
}

.Introduccion{
    background: rgba(15, 22, 48, 0.2);
    box-shadow: 0 5px 5px ;
    position: left;
    text-align: right;
    height: 215px;
    width: 550px;
    bottom: 280px;
    left: 800px;

}

.Introduccion p{
    margin: 0px;
    position: relative;
    top: 39px;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 15px;
    text-align: left;
    color: rgb(253, 249, 249);
}


